:root {
    --light-blue: #113456;
    --dark-blue: #01264A;
    --light-orange: #F07132;
    --dark-orange: #BD5928;
    --dark-gray: #3A3A3A;
    --dark-gray-transparent: rgba(58, 58, 58, 0.95);
    --light-gray: #898989;
    --accent-green: #0E383A;
    --white-textoutline: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    --black-textoutline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
    scroll-behavior: smooth;
    color: var(--dark-gray);
    background-color: rgb(216, 213, 213);

}

h1 {
    font-size: 5em;
    max-width: 80%;
    line-height: 6rem;
    display: inline-block;
    text-align: center;
    text-shadow: var(--white-textoutline);
    word-wrap: break-word;
    margin: 0 auto;

}

h2 {
    font-size: 2em;
    max-width: 70%;
    line-height: 3rem;
    display: inline-block;
}

svg{
    overflow: visible;
}

/* FÄRGTEMAN */
body.dark-theme {
    background-color: var(--light-blue);
}

body.colorful-theme {
    background-color: var(--light-orange);
}

body.light-theme {
    background-color: rgb(216, 213, 213);
}
/**/

header {
    width: 100%;
    background: var(--light-gray);
}


/* NAVBAR */
header aside.logo-navicon {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: stretch;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

header aside.logo-navicon a.logo-link {
    transform: scale(0.8);
}

header aside.logo-navicon svg.navicon rect {
    transition: all 2s ease;
    transform-origin: center;
}


header.open svg.navicon .navicon__linje-1 {
    fill: var(--light-orange);
    transform: translate(-15px, 15px) rotate(45deg);
} 
header.open svg.navicon .navicon__linje-2 {
    fill: rgba(58, 58, 58, 0);
    transform: rotate(45deg);
} 
header.open svg.navicon .navicon__linje-3 {
    fill: var(--light-orange);
    transform: translate(-15px, -15px) rotate(-45deg);
}

header nav.navbar-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: -100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--dark-gray-transparent);
    transition: transform 0.5s ease-in;
    z-index: 1;
}

header.open nav.navbar-container {
    transform: translateX(100vw);
}

.navbar-container ul.navbar-container__link-list-container {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-container ul.navbar-container__link-list-container .nav-link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.2rem;
} 

.navbar-container aside.navbar-container__color-schemes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem auto;
}

.navbar-container aside.navbar-container__color-schemes > article {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border: .2rem double white;
    margin: 0 .5rem;
}

.navbar-container aside.navbar-container__color-schemes> article.dark-theme {
    background: var(--dark-blue);
}

.navbar-container aside.navbar-container__color-schemes> article.colorful-theme{
    background: var(--light-orange);
}

.navbar-container aside.navbar-container__color-schemes> article.light-theme {
    background: var(--light-gray);
}
/* SLUT PÅ NAVBAR */


/* HERO */ 
 .hero {
    height: 100vh;
   background-repeat: no-repeat;
   color: rgb(34, 34, 34);
   display: flex;
   flex-direction: column;
   justify-content: center;
   }



   .hero-start {
    background: rgba(58, 58, 58, .5) url(/HTML-CSS-slutprojekt/IMG/footerbakgrund2.jpg);
    }

   .hero-muaythai {
    background-image: url(/HTML-CSS-slutprojekt/IMG/muaythai.jpg);
    background-position: 67% 20%;
   }

   .hero-bjj {
    background-image: url(/HTML-CSS-slutprojekt/IMG/bjj.jpg);
    background-position: 42% 30%;
   }

   .hero-kravmaga {
    background-image: url(/HTML-CSS-slutprojekt/IMG/kravmaga-eyepoke.jpg);
    background-position: 65% 10%;
   }

   .hero > svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

   .hero__text {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   .hero__text__ingress {
       padding: 0 10vw;
       text-align: center;
        line-height: 2.3rem;
        font-size: 1.6rem;
        }



/* MAIN */

main {
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
}


.infogrid-container {
    margin: 20px auto;
    display: grid;
    grid-template-areas: 
    "ruta-1-bild"
    "ruta-2-text"
    "ruta-4-bild"
    "ruta-3-text"
    "ruta-6-bild"
    "ruta-5-text"
    ;
    width: 100%;
    gap: 10px;
}
.hero, .infogrid-container__muaythai-bild, .infogrid-container__bjj-bild, .infogrid-container__kravmaga-bild, .infogrid-container__item1,
 .infogrid-container__item4,.infogrid-container__item6, .footer{
     background-size: cover;
 } 

.infogrid-container__muaythai-bild {
    grid-area: ruta-1-bild;
    background-image: url(/HTML-CSS-slutprojekt/IMG/muaythai.jpg);
    background-position: 67% 20%;
}

.infogrid-container__muaythai{
    grid-area: ruta-2-text;
}

.infogrid-container__bjj {
    grid-area: ruta-3-text;
}

.infogrid-container__bjj-bild {
    grid-area: ruta-4-bild;
    background-image: url(/HTML-CSS-slutprojekt/IMG/bjj.jpg);
    background-position: 42% 30%;
}

.infogrid-container__kravmaga {
    grid-area: ruta-5-text;
}

.infogrid-container__kravmaga-bild {
    grid-area: ruta-6-bild;
    background-image: url(/HTML-CSS-slutprojekt/IMG/kravmaga-eyepoke.jpg);
    background-position: 65% 10%;
}

.infogrid-container > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 article.bild, .muaythai-bild1, .muaythai-bild2, .muaythai-bild3, .bjj-bild1, .bjj-bild2, .bjj-bild3, .krav-bild1, .krav-bild2, .krav-bild3 {
    background-repeat: no-repeat;
    height: 525px;
    width: auto;
    filter: grayscale(100);
}

.infogrid-container > article.text {
    width: 100vw;
    margin: 0;
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infogrid-container > article.text p {
    width: 80%;
}
.infogrid-container__item1 {
    grid-area: ruta-1-bild;
}
.infogrid-container__item4 {
    grid-area: ruta-4-bild;
}
.infogrid-container__item6 {
    grid-area: ruta-6-bild;
}

.muaythai-bild1 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/kick-training.jpg);
    background-position: 60% 50%;
}
.muaythai-bild2 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/muaythai-fight.jpg);
}
.muaythai-bild3 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/thai-training.jpg);
    background-position: 35% 50%;
}

.bjj-bild1 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/bjj-boys.jpg);
}
.bjj-bild2 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/bjj-standing2.jpg);
}
.bjj-bild3 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/bjj-train.jpg);
}

.krav-bild1 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/kravmaga-choke.jpg);  
}
.krav-bild2 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/kravmaga-knee.jpg);
    background-position: 55% 50%; 
}
.krav-bild3 {
    background-image: url(/HTML-CSS-slutprojekt/IMG/kravmaga-knife.jpg);
    background-position: 65% 50%;
}
.bjj-bild1, .krav-bild1 {
    background-position: 80% 50%;  
}
.hero-start, .muaythai-bild2, .bjj-bild2, .bjj-bild3 {
    background-position: 50% 50%;
}

.infogrid-container__item__knapp, .hero__text__knapp {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 35px;
    letter-spacing: .1rem;
    border: 2px solid white;
    box-shadow: 0 1px 5px rgba(58, 58, 58, .5);
}

.knapp__muaythai {
    background-color: var(--accent-green);
}
.knapp__bjj {
    background-color: var(--light-orange);
}
.knapp__kravmaga {
    background-color: var(--dark-blue);
}


.muaythai-rubrik {
    color: var(--accent-green);
}

.bjj-rubrik {
    color:var(--light-orange);
}

.kravmaga-rubrik {
    color: var(--dark-blue);
}

/* MAIN SLUT */


/* FOOTER */
 .footer {
     margin-top: 4rem;
    background: rgba(58, 58, 58, .5) url(/HTML-CSS-slutprojekt/IMG/footerbakgrund2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 50%;
    color: rgb(34, 34, 34);
    width: 100%;
    height: 1100px;
    background-color: gray;
    border-top-left-radius: 340px;
    }

 .footer__grid-container {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
    transform: translateY(130px);
 }


.footer__grid-container__item {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    line-height: 2rem;
    font-size: 1.3rem;
}

.footer__grid-container__item a {
    text-decoration: none;
    color: var(--accent-green);
    font-size: 1.7rem;
}








@media screen and (min-width: 600px) {

    .hero-start {
        background: rgba(58, 58, 58, .5);
    }

    .hero__bild {
        background:  url(/HTML-CSS-slutprojekt/IMG/punching-bag.png);
        background-repeat: no-repeat;
    } 


.hero__bild {
    position: absolute;
    top: 100px;
    width: 50%;
    height: 1500px;
    transform-origin: top center;
    animation: box-säck 1s ease-out infinite alternate;
}
.box-säck {
    position: absolute;
    height: 200px;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@keyframes box-säck {
    0% {
        transform: rotate(20deg) scale(0.3);
    }
    25% {
        transform: rotate(10deg) scale(0.3);
    }
    50% {
        transform: rotate(0deg) scale(0.3);
    }
    75% {
        transform: rotate(-10deg) scale(0.3);
    }
    100% {
        transform: rotate(-20deg) scale(0.3);
    }
}
.infogrid-container {
    grid-template-areas: 
    "ruta-2-text ruta-1-bild"
    "ruta-4-bild ruta-3-text"
    "ruta-5-text ruta-6-bild"
    ;
    width: 85vw;
    max-width: 1000px;
    row-gap: 30px;
    column-gap: 0;
}

    

.infogrid-container > article.text {
    width: fit-content;
    margin: 0;
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    padding: 2rem 0;
    border-bottom: 5px dashed var(--dark-gray);
    border-left: 5px dashed var(--dark-gray);
    border-top: 5px dashed var(--dark-gray);
}

    .hero__text__knapp, .infogrid-container__item__knapp {
        content: url(/HTML-CSS-slutprojekt/IMG/pil-ikon\ vit\ svart\ bakgrund.svg);
    } 
}